{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
{% comment %} This is my body {% endcomment %}
<div class="container-fluid  px-0">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x600/?/nature" class="d-block w-100" alt="Image">
        <div class="carousel-caption d-none d-md-block">
            <h1>Welcome to my Company</h1>
            <p>Get a varieties of thumbnails and albums</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?/landscape" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?/mountains" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>


<div class="album  bg-light " style="user-select: auto;">
    <h1 class="my-2 text-center">Select from the varieties of thumbnails and images</h1>

    <div class="container" style="user-select: auto;">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="user-select: auto;">
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/sun" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/moon" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/flower" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/water" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/dark" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/daily" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/animal" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/bird" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="user-select: auto;">
          <div class="card shadow-sm" style="user-select: auto;">
            <img src="https://source.unsplash.com/1200x500/?/fruit" class="d-block w-100" alt="...">

            <div class="card-body" style="user-select: auto;">
              <p class="card-text" style="user-select: auto;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center" style="user-select: auto;">
                <div class="btn-group" style="user-select: auto;">
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="user-select: auto;">Edit</button>
                </div>
                <small class="text-muted" style="user-select: auto;">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
