{% extends 'base.html' %}
{% block title %}Service{% endblock title %}
{% block body %}
<div class="card " 
    style="width: 25rem;
    margin: 30px;
    position: absolute; 
    left: 460px;
    top: 215px;">
    <div class="card-header my-10"
    style="background-color:#A49AF7">
      Some Frameworks for Web Development are 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">HTML</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">JAVA SCRIPT</li>
      <li class="list-group-item">BOOTSTRAP</li>
    </ul>
  </div>
{% endblock body %}
